body{
    height:100vh 

}

header{
    border: solid 1px white;
    height: 10%;
    width: auto 0%;
    margin-left: 1200px;




}
main{
    height: 100%;
    width: 40px;
    margin-top: 70px;
    margin-left: 700px;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    nav-up:root

    justify-content: center;
    align-items: center;

}

input{
    width: 450px;
    margin-right: 40px;
    border-radius: 10px;
    height: 50px;
}

footer{
    height: 30%;
    margin-bottom: 10px;
    margin-top: -280px; 
    margin-left: 20px;
    color: grey;
    font-size: 14px;
    font-family:sans-serif ,arial;
    

}